<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>EmpManage</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<!-- Listeners -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>

	<!-- ApplicationLoader Servlet -->
	<servlet>
		<servlet-name>ApplicationLoader</servlet-name>
		<servlet-class>com.interview.project.EmpManageApplication</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ApplicationLoader</servlet-name>
		<url-pattern>/empmanage/*</url-pattern>
	</servlet-mapping>

	<!-- Struts2 Filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring Context Configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/spring/SpringBeans.xml
        </param-value>
	</context-param>
<!-- 	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
 -->
	<!-- Error Pages -->
	<error-page>
		<error-code>404</error-code>
		<location>/resources/jsp/common/PageNotFound.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/resources/jsp/common/error.jsp</location>
	</error-page>

</web-app>
